.App {
  font-family: sans-serif;
  text-align: center;
}

.carousel-container {
  width: 80%;
  margin: 0 auto;
}

.carousel-slide {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 最後のスライドの右ボーダーを削除（オプション） */
.carousel-slide:not(:last-child) {
  border-right: 1px solid #ccc;
}

/* メディアクエリの追加 */
/* @media (max-width: 768px) {
  .carousel-container {
    width: 95%;
  }

  .carousel-slide {
    height: 120px;
    font-size: 1.2rem;
  }
} */

.carousel-slide img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

/* Swiperのナビゲーションボタンのカスタマイズ（オプション） */
.swiper-button-next,
.swiper-button-prev {
  color: #333;
}

/* Swiperのページネーションのカスタマイズ（オプション） */
.swiper-pagination-bullet {
  background: #333;
}
